.App {
}

.App-header {
  background-color: #fff;
  padding: 1rem;
}

.App-header .brand {
  display: block;
  margin-left: 1rem;
  padding: 0;
}

.App-header h3.brand {
  margin: 0;
}

.leaflet-container {
  height: 480px;
  /* width: 800px; */
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.neighborhood-detail {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin: 0 2.56vw 4em;
  min-height: 10vh;
}

.write-up {
  max-width: 580px;
  min-width: 220px;
  width: 80%;
}

.key-features {
  max-width: 380px;
  min-width: 220px;
  width: 80%;
}

.key-features ul {
  margin: 0;
  padding: 0 0 0 2em;
}
.key-features li {
  padding: 0 2em 1em 0;
}
.key-features li:last-of-type {
  padding: 0 2em 0 0;
}

.key-features:hover,
.write-up:hover {
  transform: translate3d(0, -0.3125em, 0);
  transition: transform 125ms ease;
}

.key-features,
.write-up {
  transition: transform 125ms ease;
  height: 0%;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0.25em 0.25em 0 rgba(0, 0, 0, 0.12);
  padding: 2vh 2.3em 6vh;
}

@media screen and (max-width: 1065) {
  .write-up {
    padding: 0;
  }
}
